@model IEnumerable<WebsiteBanDienThoai23.DAL.Models.SanPham>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/head.css" rel="stylesheet" />
    <script src="~/js/script.js"></script>
</head>
<body>
    <div class="trangchu-background" style="background: #F5F5F5;">
        
        <h2 style="text-align: center; margin: 35px 0px">
            SẢN PHẨM TIÊU BIỂU
        </h2>
        <div class="listing-cate">
            @foreach (var item in Model)
            {

                <div class="listing-cate-item" style="background-color: white;">
                    <a href="">
                        <label for="">Mới</label>

                        <div class="item-img">
                            <a href="@Url.Action("Details","DetailsProduct",new {id = item.MaSp})">
                                <img src="~/Images/@item.Hinh1" alt="">
                            </a>

                        </div>

                        <h3 style="color: black">@item.TenSp</h3>
                        @* <p style="color: black">
                    @{
                    double price = (double)item.Gia;
                    }
                    @price.ToString("N0") VND
                    </p> *@

                    </a>
                </div>
            }
        </div>
    </div>
</body>
</html>