@model WebsiteBanDienThoai23.DAL.Models.HoaDon

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="MaKh" class="control-label"></label>
            <select asp-for="MaKh" class="form-control" asp-items="ViewBag.MaKh" readonly></select>
            <span asp-validation-for="MaKh" class="text-danger"></span>
        </div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaHd" />
            <div class="form-group">
                <label class="control-label">Nhân viên lập đơn:</label>
                <input type="text" class="form-control" value="@ViewBag.NhanVienLapDon" readonly />
            </div>

            <div class="form-group">
                <label asp-for="NgayDatHang" class="control-label"></label>
                <input asp-for="NgayDatHang" class="form-control" readonly />
                <span asp-validation-for="NgayDatHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChiGiaoHang" class="control-label"></label>
                <input asp-for="DiaChiGiaoHang" class="form-control" readonly />
                <span asp-validation-for="DiaChiGiaoHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TongGiaTri" class="control-label"></label>
                <input asp-for="TongGiaTri" class="form-control" readonly />
                <span asp-validation-for="TongGiaTri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangThaiTt" class="control-label"></label>
                <select asp-for="TrangThaiTt" class="form-control" asp-items="ViewBag.TrangThaiTt"></select>
                <span asp-validation-for="TrangThaiTt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangThaiDh" class="control-label"></label>
                <select asp-for="TrangThaiDh" class="form-control" asp-items="ViewBag.TrangThaiDh"></select>
                <span asp-validation-for="TrangThaiDh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayNhanHang" class="control-label"></label>
                <input asp-for="NgayNhanHang" class="form-control" />
                <span asp-validation-for="NgayNhanHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

