@model WebsiteBanDienThoai23.DAL.Models.HoaDon

@{
    ViewData["Title"] = "Edit";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaHd" />
            <div class="container">
                <div class="left">
                    <h3>Các thông tin chỉ xem: </h3><br />
                    <div class="form-group">
                        <label asp-for="MaKh" class="control-label"></label>
                        <input asp-for="MaKh" class="form-control" readonly />
                        <span asp-validation-for="MaKh" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaNv" class="control-label"></label>
                        <input asp-for="MaNv" class="form-control" value="@ViewBag.MaNhanVienLapDon" readonly />
                        <span asp-validation-for="MaNv" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NgayDatHang" class="control-label"></label>
                        <input asp-for="NgayDatHang" class="form-control" readonly />
                        <span asp-validation-for="NgayDatHang" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DiaChiGiaoHang" class="control-label"></label>
                        <input asp-for="DiaChiGiaoHang" class="form-control" readonly />
                        <span asp-validation-for="DiaChiGiaoHang" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TongGiaTri" class="control-label"></label>
                        <input asp-for="TongGiaTri" class="form-control" readonly />
                        <span asp-validation-for="TongGiaTri" class="text-danger"></span>
                    </div>
                </div>
                <div class="right">
                    <h3>Các thông tin có thể cập nhật: </h3><br />
                    <div class="form-group">
                        <label asp-for="TrangThaiTt" class="control-label"></label>
                        <select asp-for="TrangThaiTt" class="form-control" asp-items="ViewBag.TrangThaiTt"></select>
                        <span asp-validation-for="TrangThaiTt" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TrangThaiDh" class="control-label"></label>
                        <select asp-for="TrangThaiDh" class="form-control" asp-items="ViewBag.TrangThaiDh"></select>
                        <span asp-validation-for="TrangThaiDh" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NgayNhanHang" class="control-label"></label>
                        <input asp-for="NgayNhanHang" class="form-control" />
                        <span asp-validation-for="NgayNhanHang" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<style>
    .container {
    display: flex;
    justify-content: space-between;
}

.left {
    width: 100%;
}
.right {
    width: 100%;
}

.right {
    margin-left: 50%;

}

</style>
<div>
    <a asp-action="Index">Back to List</a>
</div>

