
@{
    ViewData["Title"] = "EditImage";
}

<div class="col-md-4 pt-4">
    <h3>Cập nhật sản phẩm</h3>
    <form method="post" enctype="multipart/form-data">
        <input type ="hidden" name="MaSp" value="@ViewBag.MaSp" />
        <p>
            <label>Chọn ảnh</label> 
            <br />
            <input type="file" name="fileAnh" />
        </p>
        
        <button class="btn btn-xs btn-success">Upload</button>
        <p style="color:red">
            @ViewBag.error
        </p>
    </form>
</div>
