
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" ">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="assets/css/style.css">

<main class="page">
	<section class="shopping-cart dark">
		<div class="container">
			<div class="block-heading">
				<br />
				<h3>Đặt hàng thành công</h3>
			</div>
			<p>Cảm ơn bạn đã mua hàng tại cửa hàng của chúng tôi!</p>
			<a href="@Url.Action("Index", "Home")">Tiếp tục mua sắm</a>
		</div>
	</section>
</main>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

