body{
	margin: 0px;
	padding: 0px;
	background-color: #EEEEEE;
}
.bgr{
	background-color: white;
}
/*navbar*/
.nav{
	margin-top: 5px;
	height: 50px;
	background-color: #fed700;
	display: flex;
	position: relative;
}
.container{
	display: flex;
}
.bg{
	width: 480px;
	height: 50px;
	background: black;
	border-radius: 5px;
}
.search{
	position: absolute;
	left: 50%; 
	top: 50%;
	text-align: center;
	height: 40px;
	width: 220px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #dee2e6;
	background-color: #fff;
	font-size: 14px;
	transform: translateX(-140%) translateY(-50%);
	border-radius: 10px;
}
.input1{
	font-size: 16px;
	width: 150px;
	border: none;
	height: 40px;
	width: calc(100% - 32px);
	padding-left: 10px;
	padding-right: 0px;
	border-radius: 10px;
	outline: none;
}
#b{
	background: no-repeat;
	border: none;
	padding-right: 10px;
	padding-left: 10px;
	height: 80%;
	border-radius:10px;
	width: 40px;
}
#b:hover{
	background: #2aabbf40;
	border: none;
	padding-right: 10px;
	padding-left: 10px;
	height: 80%;
}
.menu{
	width: 320px;
	height: 50px;
	float: left;
	display: flex;
	margin-left: 10px;

}
.menu-item{
	width: 90px;
	height: 50px;
	position: relative;

}
.menu-item:hover{
	background: white;
	border-radius: 2px;
}
.size{
	position: absolute;
	font-size: 25px;
	left: 50%;
	top: 20%;
	transform: translate(-50%, -50%)
}
.txt{
	font-size: 10px;
	margin-top: 5px;
	font-weight: normal;
	white-space: nowrap;
}
.item{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%)
}
.item a{
	text-align: center;
	left: 50%;
	text-decoration: none;
	color: black;
}
.user{
	width: 200px;
	height: 50px;
	float: left;
	display: flex;
	margin-left: 70px;
	border-left:1px solid black;
}
.carts{
	margin-right: 30px;
	position: relative;
	z-index: 5;
}
.carts ul {
	list-style-type: none;
	text-align: center;
	margin-top: 30px;
}
.carts li {
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%)
}
.carts li a {
	text-decoration: none;
	color: black;
}
.carts-list{
	margin-top: 30px;
	position: absolute;
	display: none;
	width: 200px;
	height: 300px;
	background: #FFFFFF;
	border-radius: 5px;
	margin-left: -30px !important;
}
.carts li:hover .carts-list {
	display: block;
}
/*slide*/
.slides{
	width: 100%;
	margin-top: 5px;
}
/*sản phẩm sale*/
.commercial{
	width: 100%;
	margin-top: 10px;
}

.sale{
	width: 100%;
	height: 50px;
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 20px;
	color: red;
	font-family: Georgia;
	padding-left: 30px;
	text-align: center;
}
.phone img{
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .6s ease-in-out;
	transition: .6s ease-in-out;
}
.phone img:hover{

	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}
.phone{
	overflow: hidden;
}

.name a{
	color: black;
	text-decoration: none;
}
.name a:hover{
	color: #33CCFF;
	text-decoration: none;
}
.price{
	padding-left: 30px;
	color: red;
	font-weight: bold;
}
/*sản phẩm nổi bật*/
.spnb{
	margin-top: 10px;
	margin-bottom: 20px;
}
.spnb table td{
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}
.spnb .price{
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 20px;
}
.spnb-1{
	border-bottom: 1px solid #CCCCCC;
	font-size: 20px;
	padding-left: 10px;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 10px;
}

/* CHi tiết sản phẩm */

.detail {
    display: flex;
    padding-top: 15px;
}

.detail__img img {
    width: 400px;
    height: 400px;
}

.detail__spec {
    border: 1px solid rgb(219, 212, 212);
}

.detail__spec-head {

}

.detail__spec-head h2 {
    font-size: 20px;
    padding: 5px;
    text-align: center;
}

.detail__info {

}

.detail__info-item {
    display: flex;
    list-style: none;
    border-top: 1px solid rgb(219, 212, 212);
    font-size: 16px;
    color: #333;
    line-height: 40px;
}

.detail__info-item p {
    font-weight: 600;
    width: 180px;
    text-indent: 10px;
}

.product__wrap {
	border: 1px solid #ff3c00;
	margin-top: 20px;
	display: flex;
}

.product-detail {
	padding-top: 20px;
}

.product-detail img {
	width: 221px;
}

.product-detail h5 {
	text-align: center;
	padding-top: 10px;
}

.product-detail p {
	text-align: center;
}

.detail {
    display: flex;
    padding-top: 15px;
}

.detail__img img {
    width: 400px;
    height: 400px;
}

.detail__spec {
	border: 1px solid rgb(219, 212, 212);
	margin-left: 30px;
}

.detail__spec-head {

}

.detail__spec-head h2 {
    font-size: 20px;
    padding: 5px;
    text-align: center;
}

.detail__info {

}

.detail__info-item {
    display: flex;
    list-style: none;
    border-top: 1px solid rgb(219, 212, 212);
    font-size: 16px;
    color: var(--text-color);
    line-height: 40px;
}

.detail__info-item p {
    font-weight: 600;
    width: 180px;
    text-indent: 10px;
}

.one {
	margin-top: 15px;
}