body {
    background: #fff;
}

img {
    margin: 0 auto;
}

a {
    color: #000;
}

a:hover {
    text-decoration: none;
}

.section_phu_kien {
    max-width: 1300px;
}

.ads_phu_kien {
    margin-bottom: 10px;
}

.ads_phu_kien img {
    margin-bottom: 12px;
}

.list_menu_phu_kien {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    list-style: none;
    padding: 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    -webkit-box-pack: justify;
            justify-content: space-between;
    flex-wrap: wrap;
}

.list_menu_phu_kien li a {
    color: #288ad6;
}

.list_menu_phu_kien li a:hover {
    color: #000;
}

.list_menu_phu_kien li input {
    outline: none;
    border-radius: 4px 0 0 4px;
    padding-left: 10px;
    height: 30px;
    padding-right: 25px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px 0 1px 1px;
}

.glyphicon-search {
    width: 30px;
    height: 30px;
    line-height: 26px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px 1px 1px 0;
    border-radius: 0 4px 4px 0;
    text-align: center;
    cursor: pointer;
}

.list_menu_type_phu_kien {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    list-style: none;
    padding: 0;
    margin: 10px 0;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
            justify-content: space-between;
}

.list_menu_type_phu_kien li:hover {
    background-color: #f2f2f2;
}

.list_menu_type_phu_kien li a {
    text-transform: uppercase;
}

.list_menu_type_phu_kien li a:hover {
    color: #000;
}

.list_menu_type_phu_kien .active a {
    font-weight: bold;
    color: #288ad6;
    border-bottom: 2px solid #288ad6;
}

.list_menu_type_phu_kien .active a:hover {
    color: #288ad6;
}

.op_lung_phu_kien {
    position: relative;
}

.sub_list_menu_op_lung_type_phu_kien {
    position: absolute;
    z-index: 999;
    background: #fff;
    box-shadow: 1px 1px 2px 1px #ccc;
    list-style: none;
    width: 250px;
    display: none;
}

.sub_list_menu_op_lung_type_phu_kien li,
.sub_list_menu_phu_kien_khac_type_phu_kien li {
    padding: 10px 15px;
}

.op_lung_phu_kien:hover .sub_list_menu_op_lung_type_phu_kien {
    display: inherit;
}

.phu_kien_khac_phu_kien {
    position: relative;
}

.sub_list_menu_phu_kien_khac_type_phu_kien {
    position: absolute;
    z-index: 999;
    background: #fff;
    box-shadow: 1px 1px 2px 1px #ccc;
    list-style: none;
    width: 200px;
    display: none;
}

.phu_kien_khac_phu_kien:hover .sub_list_menu_phu_kien_khac_type_phu_kien {
    display: inherit;
}

.list_accessories_phu_kien {
    list-style: none;
    padding: 0;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
}

.list_accessories_phu_kien li {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    position: relative;
}

.sub_title_phu_kien .price {
    margin-top: 10px;
    font-weight: bold;
    color: #f00;
}

.sub_title_phu_kien .old_price {
    font-weight: normal;
    text-decoration: line-through;
    color: #000;
}

.sub_title_phu_kien h4 {
    margin-top: 0px;
    font-weight: bold;
}

.sub_title_phu_kien h4 a:hover {
    color: #288ad6;
}

.sub_title_phu_kien .buynow_phu_kien {
    border: 1px solid #f89406;
    color: #f89406;
    background: #fff;
    text-align: center;
    padding: 5px 20px;
    border-radius: 4px;
    text-transform: uppercase;
    outline: none;
}

.sub_title_phu_kien .buynow_phu_kien:hover {
    background: #f89406;
    color: #fff;
}

footer {
    border-top: 1px solid #ccc;
    margin-top: 20px;
}

.list_accessories_phu_kien li {
    width: 24%;
}

@media only screen and (max-width: 1024px) {
    .list_accessories_phu_kien li {
        width: 23%;
    }
}

@media only screen and (max-width: 830px) {
    .list_accessories_phu_kien li {
        width: 48%;
    }

    .list_menu_type_phu_kien {
        display: none;
    }
}

@media only screen and (max-width: 550px) {
    .list_accessories_phu_kien li {
        width: 100%;
    }
}

/* @media only screen and (max-width: 990px){
    .list_menu_phu_kien, 
    .list_menu_type_phu_kien{
        display: -webkit-box;
        overflow-x: scroll;
    }
}
@media only screen and (min-width: 991px){
    .list_accessories_phu_kien li{
        width: 24%;
        height: 460px;
    }
    .list_accessories_phu_kien li img{
        width: 286.8px;
        height: 286.8px;
    }
    .sub_title_phu_kien .buynow_phu_kien{
        position: absolute;
        bottom: 10px;
        left: 30%;
    }
} */