.list_dien_thoai .special {
    width: 40%;
}

.future_right h3 {
    font-weight: bold;
}

.future_right h3 a {
    color: #000;
}

.future_right h3 a:hover {
    color: #288ad6;
}

.btn_buy_tablet {
    border: 1px solid #f76b1c;
    padding: 5px 35px;
    background: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    color: #f76b1c;
    -webkit-transition: .2s;
    transition: .2s;
    outline: none;
}

.btn_buy_installment_tablet {
    border: 1px solid #288ad6;
    padding: 5px 20px;
    background: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    color: #288ad6;
    -webkit-transition: .2s;
    transition: .2s;
}

.btn_buy_tablet:hover {
    background: #f76b1c;
    color: #fff;
}

.btn_buy_installment_tablet:hover {
    background: #288ad6;
    color: #fff;
}

@media only screen and (min-width: 1025px) {
    .future_left {
        float: left;
        width: 200px;
    }

    .future_left img {
        width: 180px;
        height: 180px;
    }

    .future_right,
    .btn_buy {
        float: right;
        width: 55%;
    }
}

@media only screen and (max-width: 1024px) {
    .list_dien_thoai .special {
        width: 25%;
    }

    .btn_buy {
        margin-bottom: 10px;
    }

}

@media only screen and (max-width: 830px) {
    .list_dien_thoai .special {
        width: 33.33%;
    }
}

@media only screen and (max-width: 420px) {
    .list_dien_thoai .special {
        width: 100%;
    }
}