body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
}

a,
a:hover {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/**************************************HEADER**************************************/

.section,
.footer {
    max-width: 1200px;
    overflow: hidden;
}

header {
    background: #B5E99F;
    margin-bottom: 10px;
}

.header-list {
    max-width: fit-content;
    margin: 0 auto;
    display: -webkit-box;
    display: flex;
    height: 55px;
}

.header-list--logo-and-search {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    background-color: #000;
    padding: 0 10px;
}

.icon {
    background-image: url('../images/424.jpg');
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.logo .logo__ico {
    width: 155px;
    height: 27px;
    background-position: 0 0;
}

.search input {
    margin-left: 10px;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: none;
    outline: none;
}

.search .fa-search {
    background: #fff;
    color: #ccc;
    margin: -1px 0 0 -4px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.header-list--menu ul {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    text-transform: uppercase;
    font-size: 11px;
}

.header-list--menu ul li {
    height: 100%;
    padding: 5px 10px 4px 10px;
    box-sizing: border-box;
}

.header-list--menu ul li a {
    color: #000;
}

.header-list--menu ul li:nth-child(9) {
    padding-top: 13px;
    padding-bottom: 12px;
    border-left: 1px solid rgba(0, 0, 0, .1);
}

.header-list--menu ul li:last-child {
    padding-top: 13px;
    padding-bottom: 12px;
    border-left: 1px solid rgba(0, 0, 0, .1);
}

.icon_dien_thoai {
    width: 15px;
    height: 30px;
    background-position: -190px 0px;
    display: block;
    margin: 0 auto;
}

.icon_tablet {
    width: 32px;
    height: 30px;
    background-position: -209px 0px;
    display: block;
    margin: 0 auto;
}

.icon_phu_kien {
    width: 22px;
    height: 30px;
    background-position: -288px 0px;
    display: block;
    margin: 0 auto;
}

.icon_cu_gia_re {
    width: 34px;
    height: 30px;
    background-position: -315px 0px;
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 28px;
    font-style: unset;
    text-transform: uppercase;
    font-size: 12px;
    color: #000;
}

.carts {
    position: relative;
    z-index: 5;
}

    .carts ul {
        list-style-type: none;
        text-align: center;
    }


.carts-list {
    margin-top: 30px;
    position: absolute;
    display: none;
    width: 200px;
    height: 300px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-left: -30px !important;
}

.carts li:hover .carts-list {
    display: block;
}
@media (min-width: 1240px){
    .fa-bars{
        display: none;
    }
}

@media (max-width: 1240px){
    .logo .logo__ico {
        width: 27px;
    }
    .header-list{
        display: block;
        height: auto;
    }
    .fa-search{
        margin: 0 0 0 -4px!important;
    }
    .fa-bars{
        float: right;
        font-size: 30px;
        line-height: 55px;
        margin-right: 10px;
    }
    .header-list--menu{
        display: block;
    }
    .header-list--logo-and-search, .logo, .search, .fa-bars{
        display: inline-block;
    }
    .header-list--logo-and-search{
        padding: 10px;
    }
    .header-list--menu ul{
        display: none;
        text-align: center;
    }
    .header-list--menu ul li{
        display: inline-block;
        width: 49%;
        padding: 0;
        margin-top: 20px;
    }
    .header-list--menu ul li:nth-child(9), .header-list--menu ul li:last-child {
        border: none;
    }
}

@media (max-width: 450px){
    .search .fa-search{
        display: none;
    }
    .search input{
        border-radius: 5px;
    }
}

/***********************************BANNER***********************************/
.slick-slide img {
    width: 100%;
}

.main_technology_news {
    background: #fff;
}

.title .slick-slide>div>div {
    height: 50px;
    font-size: 13px;
}

.title_technology_news {
    border-bottom: 1px solid silver;
    margin-bottom: 10px;
}

.title_technology_news h4 {
    font-size: 14px;
}

.title_technology_news h4 a {
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    background: #fed700;
    padding: 10px 20px;
}

.sub_technology_news {
    padding-bottom: 10px;
}

.sub_technology_news h4 {
    margin-top: 0;
}

.sub_technology_news h4 a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
}

.sub_technology_news .time {
    color: #999;
    font-size: 12px;
}

.sub_technology_news h4 a:hover {
    color: #288ad6;
}

.ads_banner img {
    margin-top: 10px;
}

.title,
.title_mobile {
    background: #fff;
    margin-top: -5px;
}

.title .slick-slide {
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.slide_and_main_news,
.ads_banner_2,
.main_slide_phone_weekend,
.phone_most_prominent {
    margin-bottom: 20px;
}

@media only screen and (max-width: 1240px){
    .slick-slide{
        z-index: 0;
    }
}

/**************************************SECTION**************************************/
.phone_weekend {
    background: #fff;
    padding: 30px 10px 0 10px;
}

.phone_weekend img {
    height: 180px;
    width: 180px;
}

.slide_phone_weekend {
    margin-top: 20px;
    padding: 0;
    border: 1px solid #f00;
}

.slide_phone_weekend::before {
    content: ' ';
    display: block;
    background: url('../images/12.jpg') no-repeat center center;
    background-size: 309px 38px;
    width: 309px;
    height: 38px;
    position: absolute;
    left: 50%;
    top: -19px;
    margin-left: -154px;
    z-index: 9;
}

.sub_title {
    padding-left: 10px;
    padding-right: 10px;
}

.sub_title h4 {
    font-size: 14px;
}

.sub_title h4 a {
    color: #000;
    text-decoration: none;
}

.sub_title .price {
    font-weight: bold;
    color: #f00;
}

.sub_title .old_price {
    font-weight: normal;
    text-decoration: line-through;
    color: #000;
}

.sub_title .description {
    font-size: 13px;
}

.sub_title h4 a:hover {
    color: #288ad6;
}

.phone_most_prominent {
    background: #fff;
    padding-top: 10px;
}

.list_phone_most_prominent {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    list-style: none;
    padding: 0;
}

@media (max-width: 1240px) {
    .list_phone_most_prominent {
        display: -webkit-box;
        overflow-x: scroll;
    }
    .list_phone_most_prominent li:first-child{
        margin-right: 20px;
    }
}

.list_phone_most_prominent li:first-child {
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 0 !important;
}

.list_phone_most_prominent li:nth-of-type(2) {
    margin-left: auto;
}

.list_phone_most_prominent li:not(:nth-of-type(2)) {
    margin-left: 20px;
}

.list_phone_most_prominent li a:hover {
    color: #288ad6;
}

.phones img {
    height: 180px;
    width: 180px;
    margin: 0 auto;
}

/******************************************FOOTER******************************************/
footer {
    background: #fff;
}

.footer {
    padding-top: 20px;
}

.list_about {
    list-style: none;
    padding: 0;
}

.list_about li {
    margin-bottom: 10px;
}

.list_about li a {
    color: #288ad6;
    text-decoration: none;
}

.list_about li span {
    font-weight: bold;
    cursor: pointer;
}

.list_about li a:hover {
    color: #999;
}

.list_about li span:hover {
    opacity: 0.8;
}

.fa-facebook-f {
    color: navy;
}

.fa-youtube {
    color: red;
}

.privacy {
    margin-top: 10px;
    background: #f8f8f8;
}

.privacy .row {
    max-width: 1425px;
    margin: 0 auto;
}

.privacy p,
.privacy a {
    color: #999;
    font-size: 10px;
    text-decoration: none;
}

.phone_weekend_mobile {
    padding-top: 20px;
}

.icon_fb {
    width: 13px;
    height: 13px;
    display: inline-block;
    vertical-align: middle;
    background-position: 0 -30px;
}

.icon_ytb {
    width: 17px;
    height: 13px;
    display: inline-block;
    vertical-align: middle;
    background-position: -16px -30px;
}

.icon_dmx {
    width: 100px;
    height: 19px;
    display: inline-block;
    vertical-align: middle;
    background-position: -36px -30px;
}

.icon_bhx {
    background-image: url(../images/425.jpg);
    background-repeat: no-repeat;
    width: 85px;
    height: 18px;
    display: inline-block;
    background-position: -221px 0;
}

.icon_notification {
    width: 98px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    background-position: -4px -54px;
}

@media only screen and (min-width: 992px) {

    .slide_and_main_news .col-md-8,
    .title_technology_news,
    .sub_technology_news {
        padding-left: 0;
    }

    .ads .col-md-12 {
        padding-left: 0;
        padding-right: 0;
        margin-top: 10px;
    }

    .ads_banner_2 .col-xs-12 {
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (max-width: 991px) {
    .slide_bar .title_mobile {
        margin-bottom: 20px;
    }
}