<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mobile Phone Store</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="~/css/head.css">
    <link rel="stylesheet" href="~/css/details.css">
</head>
<body>
    <header>
        <div class="header-list">
            <div class="header-list--logo-and-search">
                <div class="logo">
                    <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logotext1.png" alt="" style="height:50px"></a>
                </div>
                <form action="/DienThoai/Name" method="get">
                    <div class="search">
                        <input type="text" name="key" placeholder="Bạn tìm gì">
                        <button style="border:none">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
            
            <i class="fas fa-bars"></i>
            <div class="header-list--menu">
                <ul>
                    <li><a asp-area="" asp-controller="DienThoai" asp-action="Index"><i class="icon icon_dien_thoai"></i><span>điện thoại</span></a></li>
                    <li><a asp-area="" asp-controller="Tablet" asp-action="Index"><i class="icon icon_tablet"></i><span>tablet</span></a></li>
                    <li><a asp-area="" asp-controller="MayCu" asp-action="Index"><i class="icon icon_cu_gia_re">máy</i><span>cũ giá rẻ</span></a></li>
                    <li><a asp-area="" asp-controller="DienThoai" asp-action="Index"><span>Đăng nhập</span></a></li>
                    <li><a asp-area="" asp-controller="DienThoai" asp-action="Index"><span>Đăng ký</span></a></li>
                    <li><a asp-area="" asp-controller="DienThoai" asp-action="Index"><i class="fas fa-cart-plus size"></i><span> Giỏ hàng</span></a></li>
                </ul>
            </div>
        </div>
    </header>

    <div>
        @RenderBody()
    </div>
    
    <a style="display: scroll; position: fixed; bottom: 100px; right: 7px;" title="Back to Top" href="#"><img src="~/images/up-arrow.png" alt="" /></a>
    
    
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/slick.js"></script>
    <script src="~/js/nav-mobile.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.demo').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                arrows: false,
                asNavFor: '.title'
            });
            $('.title').slick({
                slidesToShow: 5,
                slidesToScroll: 1,
                arrows: false,
                asNavFor: '.demo',
                autoplay: true,
                focusOnSelect: true
            });
            $('.demo_mobile').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                arrows: false,
                asNavFor: '.title_mobile'
            });
            $('.title_mobile').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                autoplay: true,
                asNavFor: '.demo',
                focusOnSelect: true
            });
            $('.phone_weekend').slick({
                slidesToShow: 5,
                slidesToScroll: 1,
                arrows: true,
                autoplay: true,
            });
            $('.phone_weekend_mobile').slick({
                slidesToShow: 2,
                slidesToScroll: 1,
                arrows: true,
                autoplay: true,
            });
        });
    </script>
</body>
</html>
