<!DOCTYPE html>
<html lang="en">
<!-- InstanceBegin template="/Templates/template.dwt" codeOutsideHTMLIsLocked="false" -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- InstanceBeginEditable name="doctitle" -->
    <title>Thế giới di động</title>
    <!-- InstanceEndEditable -->
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="~/css/head.css">
    <!-- InstanceBeginEditable name="head" -->
    <!-- InstanceEndEditable -->
</head>
<body>
    <header>
        <div class="header-list">
            <div class="header-list--logo-and-search">
                <div class="logo">
                    <a href="index.html"><img src="~/img/logo-text.png" alt="" height="50px"></a>
                </div>
                <form action="" method="get">
                    <div class="search">
                        <input type="text" name="SearchString" placeholder="Bạn tìm gì">
                        <button>
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
            
            
            <div class="header-list--menu">
                <ul>
                    <li><a asp-area="" asp-controller="DienThoai" asp-action="Index"><i class="icon icon_dien_thoai"></i><span>điện thoại</span></a></li>
                    <li><a href="Tablet.html"><i class="icon icon_tablet"></i><span>tablet</span></a></li>
                    <li><a href="PhuKien.html"><i class="icon icon_phu_kien"></i><span>phụ kiện</span></a></li>
                    <li><a href="CuGiaRe.html"><i class="icon icon_cu_gia_re">máy</i><span>cũ giá rẻ</span></a></li>
                    <li><a href="DangNhap.html"><span>Đăng nhập</span></a></li>
                    <li><a href="#" class="fas fa-cart-plus size"><span> Giỏ hàng</span></a></li>
                </ul>
            </div>
        </div>
    </header>

    <div>
        @RenderBody()
    </div>

    <footer>
        <div class="container-fluid footer">
            <div class="row">
                <div class="col-md-3">
                    <ul class="list_about">
                        <li><a href="#">Tìm hiểu về mua trả góp</a></li>
                        <li><a href="#">Chính sách bảo hành</a></li>
                        <li><a href="#">Chính sách đổi trả</a></li>
                        <li><a href="#">Giao hàng & Thanh toán</a></li>
                        <li><a href="#">Xem thêm <span class="glyphicon glyphicon-triangle-bottom"></span></a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list_about">
                        <li><a href="#">Giới thiệu công ty (mwg.vn)</a></li>
                        <li><a href="#">Tuyển dụng</a></li>
                        <li><a href="#">Gửi góp ý, khiếu nại</a></li>
                        <li><a href="#">Tìm siêu thị (1889 shop)</a></li>
                        <li><a href="#">Xem bản mobile</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list_about">
                        <li>Gọi mua hàng <span>1800.1060</span> (7:30 - 22:00)</li>
                        <li>Gọi khiếu nại <span>1800.1062</span> (8:00 - 21:30)</li>
                        <li>Gọi bảo hành <span>1800.1064</span> (8:00 - 21:00)</li>
                        <li>Hỗ trợ kĩ thuật <span>1800.1763</span> (7:30 - 22:00)</li>
                        <li><a href="#"><i class="icon icon_notification"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list_about">
                        <li>
                            <a href="#"><i class="icon icon_fb"></i>&nbsp;3.3tr</a> | <a href="#">
                                <i class="icon icon_ytb"></i>&nbsp;616.1k
                            </a>
                        </li>
                        <li>Website cùng tập đoàn:</li>
                        <li><a href="#"><i class="icon icon_dmx"></i></a></li>
                        <li><a href="#"><i class="icon icon_bhx"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="container-fluid privacy">
        <div class="row">
            <div class="col-md-12 sub_privacy">
                <p>
                    &copy; 2019. Công ty cổ phần Thế Giới Di Động. GPDKKD: 0303217354 do sở KH & ĐT TP.HCM cấp ngày
                    02/01/2007. Địa chỉ: 128 Trần Quang Khải, P. Tân Định, Q.1, TP.Hồ Chí Minh. Điện thoại:
                    18001060. Email: cskh@thegioididong.com. Chịu trách nhiệm nội dung: Trần Nhật Linh. <a href="#">
                        Xem
                        chính sách sử dụng web
                    </a>
                </p>
            </div>
        </div>
    </div>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/slick.js"></script>
    <script src="~/js/nav-mobile.js"></script>
    <!-- InstanceBeginEditable name="EditRegion1" -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('.demo').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                arrows: false,
                asNavFor: '.title'
            });
            $('.title').slick({
                slidesToShow: 5,
                slidesToScroll: 1,
                arrows: false,
                asNavFor: '.demo',
                autoplay: true,
                focusOnSelect: true
            });
            $('.demo_mobile').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                arrows: false,
                asNavFor: '.title_mobile'
            });
            $('.title_mobile').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                autoplay: true,
                asNavFor: '.demo',
                focusOnSelect: true
            });
            $('.phone_weekend').slick({
                slidesToShow: 5,
                slidesToScroll: 1,
                arrows: true,
                autoplay: true,
            });
            $('.phone_weekend_mobile').slick({
                slidesToShow: 2,
                slidesToScroll: 1,
                arrows: true,
                autoplay: true,
            });
        });
    </script>
    <!-- InstanceEndEditable -->
</body>

<!-- InstanceEnd -->

</html>
